.falga-banner {
  background-image: url("/img/epci-business/banner.jpg");
}
.falga-epci-o {
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
}
.falga-epci-o.reverse {
  background-color: unset;
}
@media screen and (min-width: 761px) {
  .falga-epci-o {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
.falga-epci-c {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  position: relative;
}
.falga-epci-i {
  position: relative;
  display: flex;
  min-height: 288px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 761px) {
  .falga-epci-i {
    min-height: 476px;
    flex-direction: row;
  }
}
.falga-epci-images {
  position: relative;
  height: 262px;
  width: 340px;
  z-index: 1;
}
.falga-epci-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  right: 16px;
}
.falga-epci-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 230px;
}
@media screen and (min-width: 761px) {
  .falga-epci-images {
    position: absolute;
    width: 710px;
    height: 544px;
    margin-top: unset;
  }
  .falga-epci-image {
    top: 32px;
    bottom: 32px;
    width: 710px;
    height: 480px;
    left: 0;
    right: 0;
  }
  .falga-epci-background {
    left: 164px;
    right: 164px;
    top: 0;
    bottom: 0;
  }
}
.falga-epci-content {
  position: relative;
  margin-top: 16px;
  z-index: 2;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 18px 32px;
}
@media screen and (min-width: 761px) {
  .falga-epci-content {
    margin-left: auto;
    max-width: 640px;
    margin-top: 0;
  }
}
.falga-epci-line {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 16px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
}
.falga-epci-o.reverse .falga-epci-images {
  right: 0;
}
.falga-epci-o.reverse .falga-epci-title {
  text-align: right;
}
.falga-epci-o.reverse .falga-epci-line {
  right: unset;
  left: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media screen and (min-width: 761px) {
  .falga-epci-o.reverse .falga-epci-content {
    margin-right: auto;
    margin-left: 0;
  }
}
.falga-wd {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.falga-wd-c {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
.falga-wd-divider {
  width: 100%;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}
.falga-wd-civil,
.falga-wd-electrical,
.falga-wd-instrumentation,
.falga-wd-mechanical,
.falga-wd-automation,
.falga-wd-others {
  cursor: pointer;
}
.falga-wd-civil {
  -o-object-fit: cover;
     object-fit: cover;
  height: 109px;
}
.falga-wd-electrical {
  -o-object-fit: cover;
     object-fit: cover;
  height: 109px;
}
.falga-wd-instrumentation {
  -o-object-fit: cover;
     object-fit: cover;
  height: 109px;
}
.falga-wd-mechanical {
  -o-object-fit: cover;
     object-fit: cover;
  height: 109px;
}
.falga-wd-automation {
  -o-object-fit: cover;
     object-fit: cover;
  height: 109px;
}
.falga-wd-others {
  -o-object-fit: cover;
     object-fit: cover;
  height: 109px;
}
@media screen and (min-width: 1060px) {
  .falga-wd {
    flex-direction: row;
  }
  .falga-wd-c {
    width: 440px;
    height: 440px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 121px;
    margin-bottom: 130px;
  }
  .falga-wd-civil {
    position: absolute;
    top: 0px;
    right: 281px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 109px;
  }
  .falga-wd-electrical {
    position: absolute;
    top: 81px;
    left: 108px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 109px;
  }
  .falga-wd-instrumentation {
    position: absolute;
    top: 216px;
    right: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 109px;
  }
  .falga-wd-mechanical {
    position: absolute;
    top: 364px;
    left: 24px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 109px;
  }
  .falga-wd-automation {
    position: absolute;
    top: 455px;
    right: 51px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 109px;
  }
  .falga-wd-others {
    position: absolute;
    top: 592px;
    left: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 109px;
  }
}
.falga-wd-popover {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
}

