.home-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

.home-partners-container {
  overflow-x: hidden;
  overflow-y: visible;
}

@media screen and (min-width: 1260px) {
  .home-partners-container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-partners-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-partners-items {
  margin: 16px;
}

.home-partners-items-pertamina {
  width: 349px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-pgn {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-wika {
  width: 118px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-waskita {
  width: 124px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-siemens {
  width: 193px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-schneider {
  width: 268px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-yokogawa {
  width: 257px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-patterson {
  width: 175px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-emco {
  width: 203px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-sulzer {
  width: 148px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-ingersoll {
  width: 242px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-deutz {
  width: 92px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-kansai {
  width: 159px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-partners-items-inter {
  width: 238px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-glance {
  display: flex;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}

.home-glance-image {
  max-width: 300px;
  margin-top: 30px;
}
.home-glance-item {
  width: 50%;
  max-width: 200px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.home-glance-item:hover {
  transform: scale(1.2);
}
.home-glance-epci-business {
  height: 50vw;
  width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-glance-future-business {
  margin-top: 16px;
}
.home-glance-oil-gas-rental {
  margin-top: 16px;
}
@media screen and (min-width: 470px) {
  .home-glance {
    align-items: flex-start;
  }
  .home-glance-image {
    max-width: 470px;
    margin-top: 215px;
  }
  .home-glance-item {
    position: absolute;
    width: 200px;
    height: 200px;
    max-width: 200px;
  }
  .home-glance-epci-business {
    top: 0;
    left: 280px;
  }
  .home-glance-property-hospitality {
    top: 153px;
    right: 0;
  }
  .home-glance-industrial-rental {
    top: 153px;
    left: 0;
  }
  .home-glance-future-business {
    top: 488px;
    right: 0;
    margin-top: 0;
  }
  .home-glance-oil-gas-rental {
    top: 488px;
    left: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 820px) {
  .home-glance {
    width: 820px;
  }
}

