@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadow-box-nav {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.carousel {
  background: white;
}

.carousel-cell {
  height: 448px;
  background-color: aquamarine;
}
.falga-header {
  max-width: 1312px;
  margin-left: auto;
  margin-right: auto;
  min-height: 96px;
}
.falga-transition {
  transition: all 0.3s ease-in-out;
}
.falga-button {
  background-color: #40559b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  min-width: 128px;
  min-height: 40px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  border: 1px solid #40559b;
}
.falga-button:hover {
  background-color: white;
  color: #40559b;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.falga-button-white {
  color: #7e7e7e;
  padding: 7px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.falga-button-white-icon {
  margin-left: 12px;
}
.falga-button-white:hover {
  background-color: #87ceeb;
  color: black;
}
.falga-container {
  max-width: 1260px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 1300px) {
  .falga-container {
    margin-left: auto;
    margin-right: auto;
  }
}
.falga-section-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  color: #972540;
}
@media (min-width: 640px) {
  .falga-section-title {
    font-size: 28px;
  }
}
