.home-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-partners-container {
  overflow-x: hidden;
  overflow-y: visible;
}

@media screen and (min-width: 1260px) {
  .home-partners-container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-partners-row {
  position: relative;
  padding-top: 36.429920635%;
  width: 100%;
}

.home-partners-row > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-partners-items {
  object-fit: contain;
  margin: 1.26984127%;
}

.home-partners-items-pertamina {
  width: 39.126984127%;
  height: 24.962692014%;
}

.home-partners-items-schneider {
  width: 23.80952381%;
  height: 17.399508079%;
}

.home-partners-items-pgn {
  width: 7.936507937%;
  height: 34.080001394%;
  margin-left: 0;
}

.home-partners-items-wika {
  width: 9.365079365%;
  height: 17.308727128%;
}

.home-partners-items-waskita {
  width: 9.841269841%;
  height: 23.906086267%;
}

.home-partners-items-siemens {
  width: 23,.80952381%;
  height: 13.488977532%;
}

.home-partners-items-yokogawa {
  width: 20.396825397%;
  height: 17.279686809%;
}

.home-partners-items-patterson {
  width: 13.888888889%;
  height: 21.444369163%;
  margin-right: 0;
}

.home-partners-items-emco {
  width: 16.111111111%;
  height: 15.442412808%;
  margin-left: 0;
}

.home-partners-items-sulzer {
  width: 11.746031746%;
  height: 5.479099903%;
}

.home-partners-items-ingersoll {
  width: 19.206349206%;
  height: 12.029336604%;
}

.home-partners-items-deutz {
  width: 7.301587302%;
  height: 20.042830658%;
}

.home-partners-items-kansai {
  width: 12.619047619%;
  height: 12.475943157%;
}

.home-partners-items-inter {
  width: 18.888888889%;
  height: 6.611955548%;
  margin-right: 0;
}

.home-glance {
  display: flex;
  max-width: 47.5rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-glance-aspect {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 82.943026316%;
}
.home-glance-image {
  position: absolute;
  width: 61.8421053%;
  height: 65.892808886%;
  bottom: 0;
  left: 50%;
  translate: -50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.home-glance-image img {
  width: 100%;
  height: 100%;
}
.home-glance-image:hover {
  transform: scale(1.1);
}
.home-glance-item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  width: 26.316%;
  height: 31.73%;
  max-width: 28%;
}
.home-glance-item img {
  width: 100%;
  height: 100%;
}
.home-glance-item:hover {
  transform: scale(1.2);
}
.home-glance-epci-business {
  top: 0;
  left: 36.844%;
}
.home-glance-property-hospitality {
  top: 24.272%;
  right: 0;
}
.home-glance-industrial-rental {
  top: 24.272%;
  left: 0;
}
.home-glance-future-business {
  top: 77.416%;
  right: 0;
  margin-top: 0;
}
.home-glance-oil-gas-rental {
  top: 77.416%;
  left: 0;
  margin-top: 0;
}

@media screen and (min-width: 820px) {
  .home-glance {
    width: 51.25rem;
  }
}
.contact-spinner {
  display: none;
}
#contact-us-form[disabled] .contact-spinner {
  margin-left: 0.25rem;
  display: inline;
}
