.home-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

.home-partners-container {
  overflow-x: hidden;
  overflow-y: visible;
}

@media screen and (min-width: 1260px) {
  .home-partners-container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-partners-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-partners-items {
  margin: 16px;
}

.home-partners-items-pertamina {
  width: 349px;
  object-fit: contain;
}

.home-partners-items-pgn {
  width: 100px;
  object-fit: contain;
}

.home-partners-items-wika {
  width: 118px;
  object-fit: contain;
}

.home-partners-items-waskita {
  width: 124px;
  object-fit: contain;
}

.home-partners-items-siemens {
  width: 193px;
  object-fit: contain;
}

.home-partners-items-schneider {
  width: 268px;
  object-fit: contain;
}

.home-partners-items-yokogawa {
  width: 257px;
  object-fit: contain;
}

.home-partners-items-patterson {
  width: 175px;
  object-fit: contain;
}

.home-partners-items-emco {
  width: 203px;
  object-fit: contain;
}

.home-partners-items-sulzer {
  width: 148px;
  object-fit: contain;
}

.home-partners-items-ingersoll {
  width: 242px;
  object-fit: contain;
}

.home-partners-items-deutz {
  width: 92px;
  object-fit: contain;
}

.home-partners-items-kansai {
  width: 159px;
  object-fit: contain;
}

.home-partners-items-inter {
  width: 238px;
  object-fit: contain;
}

.home-glance {
  display: flex;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}

.home-glance-image {
  max-width: 300px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.home-glance-image img {
  width: 100%;
  height: 100%;
}
.home-glance-image:hover {
  transform: scale(1.1);
}
.home-glance-item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.home-glance-item:hover {
  transform: scale(1.2);
}
.home-glance {
  align-items: flex-start;
}
.home-glance-image {
  max-width: 61.843%;
  margin-top: 28.29%;
}
.home-glance-item {
  position: absolute;
  width: 26.316%;
  height: 31.73%;
  max-width: 28%;
}
.home-glance-epci-business {
  top: 0;
  left: 36.844%;
}
.home-glance-property-hospitality {
  top: 24.272%;
  right: 0;
}
.home-glance-industrial-rental {
  top: 24.272%;
  left: 0;
}
.home-glance-future-business {
  top: 77.416%;
  right: 0;
  margin-top: 0;
}
.home-glance-oil-gas-rental {
  top: 77.416%;
  left: 0;
  margin-top: 0;
}

@media screen and (min-width: 820px) {
  .home-glance {
    width: 820px;
  }
}
