.industrial-carousel {
  max-width: 480px;
  min-width: 300px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.industrial-carousel-ar {
  width: 100%;
  padding-top: 75%;
  position: relative;
}
.industrial-carousel-yes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
