.item {
  position: relative;
  max-width: 932px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 900px) {
  .item {
    min-width: 932px;
  }
}
.item-line {
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.item.reverse .item-line {
  left: 0;
  right: unset;
}
@media (min-width: 761px) {
  .item-line {
    width: 16px;
  }
}
.item-i-bl {
  width: calc(100% - 8px);
  max-width: 834px;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 761px) {
  .item-i-bl {
    margin-right: 16px;
    width: calc(100% - 16px);
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.item-i-bl-ar {
  width: 100%;
  padding-top: 57.5539568%;
  position: relative;
}
.item-i-bl-i {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  position: absolute;
}
.item-content {
  position: relative;
  width: calc(100% - 32px);
  margin-right: 32px;
  max-width: 768px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 16px 32px;
  padding-left: 40px;
}
.item.reverse .item-content {
  margin-right: 0;
  margin-left: 32px;
  padding-left: 32px;
  padding-right: 40px;
}
.item-content-line {
  width: 8px;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: -1px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.item.reverse .item-content-line {
  left: unset;
  right: 0;
  top: -1px;
  bottom: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media (min-width: 761px) {
  .item-content {
    width: 100%;
    padding: 32px 64px;
    margin-top: -15%;
    padding-left: 80px;
    margin-right: auto;
    margin-bottom: 32px;
  }
  .item-content-line {
    width: 16px;
  }
  .item.reverse .item-content {
    margin-right: 0;
    margin-left: auto;
    padding-left: 64px;
    padding-right: 80px;
  }
}

.item-i-bh {
  width: calc(100% - 8px);
  max-width: 717px;
  margin-right: auto;
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 761px) {
  .item-i-bh {
    margin-right: 16px;
    width: calc(100% - 16px);
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.item-i-bh-ar {
  width: 100%;
  padding-top: 75.1743375%;
  position: relative;
}
